<!-- Main -->
<main style="font-family: 'Comfortaa', cursive;">
  <!-- height:1300px; -->
  <div class="main" style=" margin-top: 60px;">


    <div class="section1" style="background-color: #dc3545; padding: 20px;">

      <div class="row justify-content-md-center">

        <div class="col-md-6 text-center" style="font-size: 20px; padding:20px ; color:white; border: 1px solid">

          Feel free to contact us ! &nbsp; +91-7774033395

        </div>

      </div>
    </div>

    <br>

    <div class="row justify-content-md-center" style="padding: 10px;">
      <div class="col-md-9">
        <dx-data-grid id="gridContainer" [dataSource]="dataSource" keyExpr="ID" [allowColumnReordering]="true" (onEditingStart)="logEvent('EditingStart')"
          (onInitNewRow)="logEvent('InitNewRow')" (onRowInserting)="logEvent('RowInserting')" (onRowInserted)="logEvent('RowInserted')"
          (onRowUpdating)="logEvent('RowUpdating')" (onRowUpdated)="logEvent('RowUpdated')" (onRowRemoving)="logEvent('RowRemoving')"
          (onRowRemoved)="logEvent('RowRemoved')">

          <dxo-filter-row visible="true" [applyFilter]="currentFilter"></dxo-filter-row>
          <dxo-header-filter visible="true"></dxo-header-filter>
          <dxo-paging [enabled]="true"></dxo-paging>

          <dxi-column dataField="BloodType" caption="Blood Type" [width]="125">
            <dxo-lookup [dataSource]="bloodTypes" displayExpr="Type" valueExpr="ID">
            </dxo-lookup>
          </dxi-column>

          <dxi-column dataField="Prefix"></dxi-column>
          <dxi-column dataField="Name"></dxi-column>
          <dxi-column dataField="Email" [width]="130"></dxi-column>
          <dxi-column dataField="Contact" [width]="130"></dxi-column>

          <dxi-column dataField="StateID" caption="State" [width]="125">
            <dxo-lookup [dataSource]="states" displayExpr="Name" valueExpr="ID">
            </dxo-lookup>
          </dxi-column>

          <dxi-column dataField="CityID" caption="City" [width]="125">
            <dxo-lookup [dataSource]="cities" displayExpr="Name" valueExpr="ID">
            </dxo-lookup>
          </dxi-column>

          <dxi-column dataField="BirthDate" [width]="125" dataType="date">
          </dxi-column>
        </dx-data-grid>
      </div>

    </div>
  </div>
</main>


<!-- <div class="section1" style="background-color: #dc3545; padding: 40px;">

  <div class="row justify-content-md-center">

    <div class="col-md-6 text-center" style="font-size: 20px; padding:20px ; color:white; border: 1px solid">

      Feel free to contact us !


    </div>

  </div>
</div> -->