<!-- Main -->
<main style="font-family: 'Comfortaa', cursive;">
  <!-- height:1300px; -->
  <div class="main" style=" margin-top: 50px;">

    <div class="section1">
      <div style="background-image: url('../../../assets/images/heart-share.jpg');        
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 auto;
      height: 430px;">
      </div>
    </div>

    <div class="section2" style="font-family: 'Berkshire Swash', cursive;">
      <div class="container text-center hm-zoom"><br>
        <img style="height: 5rem; width: 3.5rem;" src="../../../assets/images/blood-hand.png" alt="donate-blood">
        <div class="divider-new" style="margin-top: 5px;">
          <h3>Sharing is Caring</h3>
        </div>
      </div>
    </div>

    <div class="section3" style="background-color: #dc3545; padding: 40px;">

      <div class="row justify-content-md-center">

        <div class="col-md-6 text-center" style="font-size: 20px; padding:20px ; color:white; border: 1px solid">
          <div class="row">
            <div class="col-md-4">
              <img src="../../../assets/images/love-blood.jpg" style="margin-top: 7px; width: 195px;height: 220px;">
            </div>
            <div class="col-md-8" style="padding:20px;">
              <p style="font-size: 12px; ">In a Need of Blood? Your search ends here.</p>
              <hr>
              <p>Find your blood match here</p><br>
              <button type="button" class="btn btn-outline-white btn-lg" mdbRippleRadius (click)="onRegisterButtonClick()">
                  Search Blood 
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="section4" style="background-color: #f8f9fa; padding: 40px;">
      <div class="contar">

        <div class="row justify-content-md-center">

          <div class="col-md-6 text-center" style="padding: 30px; font-size: 30px; border: 1px solid #D3D3D3;">
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <p>Your blood their life, who knows one day it will be, their blood your life.</p>
            <button type="button" class="btn btn-outline-danger btn-lg" mdbRippleRadius (click)="onRegisterButtonClick()">
              Register Now
              <i class="fa fa-magic mr-1"></i>
            </button>
          </div>

        </div>
      </div>
    </div>

    <div class="section5" style=" padding: 40px;">
      <div class="container">

        <div class="row">

          <div class="col-md-4 text-center">
            <div class="row">
              <div class="col-md-6">
                <img src="../../../assets/images/active-donor.png" alt="donate-blood">
              </div>
              <div class="col-md-6">
                <p>Active Donors</p>
                <h3>00020+</h3>
              </div>
            </div>
          </div>


          <div class="col-md-4 text-center">
            <div class="row">
              <div class="col-md-6">
                <img src="../../../assets/images/blood-donor.png" alt="donate-blood">
              </div>
              <div class="col-md-6">
                <p>Blood Donors</p>
                <h3>00010+</h3>
              </div>
            </div>
          </div>


          <div class="col-md-4 text-center">
            <div class="row">
              <div class="col-md-6">
                <img src="../../../assets/images/blood-require.png" alt="donate-blood">
              </div>
              <div class="col-md-6">
                <p>Blood Require</p>
                <h3>00020+</h3>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <br>
    <br>

    <div>

    </div>

  </div>
</main>
<!-- /.Main -->

