<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-red scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" href="#">
            <strong>Bloodvessel.com </strong>
        </a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbRippleRadius>
                <a class="nav-link" [routerLink]="['/home']">Home
            <span class="sr-only">(current)</span>
          </a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" [routerLink]="['/about']">About</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" [routerLink]="['/contact']">Contact</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" [routerLink]="['/blood-donors']">Blood Donors</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <!-- <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">
                    <i class="fa fa-twitter"></i>
                </a>
            </li> -->
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" [routerLink]="['/register']">Login / Register</a>
            </li>
        </ul>
    </links>
</mdb-navbar>