
<footer style="color: white;">
    <mdb-navbar SideClass="fixed-bottom" [containerInside]="false">
      <div class="text-center" style=" padding: 10px; background-color: #dc3545">
              bloodvessel.com  &copy; All Right Reserved. 
      </div>
    </mdb-navbar>
  </footer>
  